.body {
    background-image: url("./img/rainbowMove.gif");
    background-size: cover;
    background-repeat: repeat-y;
}

.content {
    display: flexbox;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;    
    margin-top: 1%;    
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(0, 247, 255);
    border: black;
    border-style: solid;
    cursor:url(./img/LCE.gif),auto;
}

.footer {
    display: flexbox;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;    
    margin-top: 1%;    
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(0, 247, 255);
    border: black;
    border-style: solid;
    text-align: center;    
}

.link
{
    text-decoration: none;
    color: hotpink; 
    font-size: 25pt;   
}

.link:hover
{
    font-size: 30pt;
}

.bodyText {
    font-size: medium;
}

.headingText {
    font-size: large;
}

.titleText {
    font-size: xx-large;
}