.body {
    background-color: greenyellow;
    margin: 0%;
}

.header {   
    display: flex;
    flex-direction: column;
    justify-content: center;    
    color: black;
    text-shadow: -5px 0 rgba(255, 0, 0, 0.75),
                 0 5px rgba(255, 105, 180, 0.75), 
                 5px 0 rgba(0, 128, 0, 0.75), 
                 0 -5px rgba(0, 0, 255, 0.75);
    background-image: url("../img/WildWestSunSet.bmp");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 100px;  
    text-align: center;  
}
@media screen and (min-width: 0px)
{
    .header
    {
        flex-direction: column;
    }
    .navigation
    {
        flex-direction: column;        
    }
}

@media screen and (min-width: 1660px)
{
    .header
    {
        flex-direction: row;
    }
}

@media screen and (max-width: 1000px)
{
    .navigation
    {
        flex-direction: column;
    }
}
@media screen and (min-width: 1000px)
{
    .navigation
    {
        flex-direction: row;
    }
}
@media screen and (max-width: 600px)
{
    .header
    {
        font-size: 50px;
    }
}


.inputs
{
    display: flex;
    justify-content: left;
}

.navigation
{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: hotpink;        
}

.navA
{
    text-decoration: none;
    color: black;
    background-color: skyblue;
    font-weight: bold;         
    border-style: solid;  
    border-color: blue; 
    font-size: 15pt;
    padding: 5px;
    margin: 10px;
}

.title
{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    background-color: pink;
}

.mainAreaStyle
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15pt;
    font-weight: bold;
    text-shadow: -1px 0 red,
                 0 1px red, 
                 1px 0 red, 
                 0 -1px red;
    background-color: aqua;
    padding-top: 10px;
}

.image1
{
display: flex;
justify-content: left;
}
.image2
{
    display: flex;
    justify-content: right;
}